body{
	background-color: #131518;
	font-family: 'Overpass', sans-serif;
	/*font-family: 'Overpass Mono', monospace , sans-serif;*/
	/* font: normal 16px family; */
	margin: 110px 0px;
	/*margin: 15;*/
}

.container{
	background-color: #1B222C;
	width: 327px;
	height: 360px;
	display: block;
	margin-left: auto;
    margin-right: auto;
	border-radius: 17px;
}

.topic{
	color: #FEFEFE;
	font-size: 24px;
	font-weight: 700;
	line-height: 30.38px; 
	padding-left: 20px;
	padding-top: 10px;
}


.star{
	padding-left: 10px;
}

.content{
	line-height: 22px;
	color: #848C9A;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
}


.rating-val{
	padding-left: 20px;
	padding-top: 5px;
}

.rate-btn{
  width: 42px;
  height: 42px;
  border-radius: 60px;
  border: none;
  background-color: #262E38;
  color: #7C8798;
  margin-right: 10px;
}

button.rate-btn:hover
{
 background-color:#7C8798;
 color: #FFFFFF;
}

button.rate-btn:focus {
  background-color:#FC7614;
  color: #FFFFFF;
}

button.submit{
	margin: 0 25px;
	text-align: center;
	color: #FEFEFE;
	background-color: #FC7614;
	border: none;
	font-weight: 600;
	letter-spacing: 5px;
	border-radius: 22.5px;
	width: 279px;
	height: 45px;
}

button.submit:hover
{
 background-color:#FFFFFF;
 color: #FC7614;;
}


/*.container button{
	margin: 0 25px;
	line-height: 17.72px;
	lett
	text-align: center;
	color: #FEFEFE;
	background-color: #FC7614;
	border: none;
	font-weight: 600;
	letter-spacing: 5px;
	border-radius: 22.5px;
	width: 279px;
	height: 45px;
}
*/

.logo{
	padding-top: 20px;
}


.box{
	width: 230px;
	height: auto;
	background-color: #252D38;
	border-radius: 30px;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	color: #CD661B;
}

#container{
	text-align: center;
}


