body{
	background-color: #131518;
	font-family: 'Overpass', sans-serif;
	/*font-family: 'Overpass Mono', monospace , sans-serif;*/
	/* font: normal 16px family; */
	margin: 90px 0;
}

.star{
	width: 40px;
	height: 40px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.rectangle1{
	background-color: #1B222C;
	width: 60%;
	margin: auto;
	padding: 35px 15px;
	border-radius: 17px;
}

.rectangle2{
	border-radius: 30px;
	width: 230px;
	height: 33px;
	background-color: #252D38;
	color: #CD661B;
	text-align: center;
	border: none;
	font-weight: 400;
	
}

.topic{
	color: #FEFEFE;
	font-size: 16px;
	font-weight: 100;
}

.content{
	line-height: 1.6em;
	color: #848C9A;
}

.rectangle1 button{
	/*margin: 0 30px;
	padding-bottom: 25px
	color: #FEFEFE;*/
	text-align: center;
	color: #FEFEFE;
	background-color: #FC7614;
	border: none;
	font-weight: 600;
	letter-spacing: 5px;
	border-radius: 30px;
	width: 240px;
	height: 33px;
}

#content{
	text-align: center;
}

#tp2{
	text-align: center;
}

#btn{
	text-align: center;
}
